<%- include('partials/header.ejs'); %>

    <% posts.forEach(function(post){ %>
        <div class="post">
            <h1>
                <%= post.title %>
            </h1>
            <p>
                <% if(post.content.length > 100){ %> 
                <%= post.content.substring(0,100) +"..."%>
                    <a href="/posts/<%=post.title%>">Read More</a>
                <% } else{ %> 
                    <%= post.content %>  
                <% } %> 
            </p>
        </div>
        <% }); %>
            <a href="/compose" class="compose-link">
                <div class="compose-box">
                    <span class="material-symbols-outlined" style="font-size: 50px;">
                        add_circle
                    </span>
                    <h2>Add new</h2>
                    <!-- <p> <%= startingContent %>  </p> -->
                </div>
            </a>

            <%- include('partials/footer.ejs'); %>